<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<filter>
		<filter-name>logonfilter</filter-name>
		<filter-class>guestbook.LogonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logonfilter</filter-name>
		<url-pattern>/demo/signon</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Guestbook</servlet-name>
		<servlet-class>guestbook.GuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Guestbook</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignOn</servlet-name>
		<servlet-class>guestbook.SignOnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignOn</servlet-name>
		<url-pattern>/demo/signon</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>guestbook.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>guestbook.SearchServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
	<servlet>
	    <servlet-name>_ah_sessioncleanup</servlet-name>
	    <servlet-class>com.google.apphosting.utils.servlet.SessionCleanupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>_ah_sessioncleanup</servlet-name>
	    <url-pattern>/_ah/sessioncleanup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Writer</servlet-name>
		<servlet-class>guestbook.WriterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Writer</servlet-name>
		<url-pattern>/writer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SpreadDemo</servlet-name>
		<servlet-class>com.laughstyle.demo.SpreadDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpreadDemo</servlet-name>
		<url-pattern>/demo/spreaddemo</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>session-cleanup</web-resource-name>
	        <url-pattern>/_ah/sessioncleanup</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>admin</role-name>
	    </auth-constraint>
	</security-constraint>

<security-constraint>
 <web-resource-collection>
  <url-pattern>/demo/*</url-pattern>
 </web-resource-collection>
 
 <user-data-constraint>
  <transport-guarantee>CONFIDENTIAL</transport-guarantee>
 </user-data-constraint>
</security-constraint>
</web-app>
